.post {
    padding: 20px;
    overflow-x: scroll;
    height: 100%;
}
.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePost {
    background: rgba(255,255,255, 0.9);
    margin-top: 0;
    margin-bottom: 0;
    color: #3F3B6C;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 25px;
}

.post p {
    line-height: 1.5;
}